main {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.MuiButton-contained {
  background-color: #343694 !important;
  color: #fff !important;
  margin: 1rem;
}
