.MuiCard-root {
  color: #343694;
  background: #fff;
  display: block;
  text-align: center;
  border: 1px solid #00000027;
  padding: 1rem;
}

.cardButton {
  background-color: #343694;
  color: white;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
  border: none;
  cursor: pointer;
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.MuiTypography-h2 {
  font-size: 2rem !important;
  color: #343694;
  margin-bottom: 1rem;
}
