.filterSection {
  width: 25vw;
  max-width: 300px;
  min-width: 150px;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-right: #00000027 1px solid;
}

.filterSection .MuiFormLabel-root {
  margin-top: 1rem;
}
.filterSection .MuiRadio-root.Mui-checked {
  color: #343694 !important;
}
.filterSection .MuiFormLabel-root.Mui-focused {
  color: #343694 !important;
}
