.filterSection {
  width: 25vw;
  max-width: 300px;
  min-width: 150px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  border-right: #00000027 1px solid;
  box-sizing: border-box;
}

.filterSection .MuiFormLabel-root {
  margin-top: 1rem;
}
